.login_button{
    background-color: lightsalmon;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.input_box{
    background-color: white;
    border: 1px solid grey;
    color: black;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}